.a{
    border: 1px solid black;
    margin-bottom: 10px;
}
.c{
    float: right;
    padding-top:30px;
    padding-right: 30px;
    
}
#first {
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    background-color: yellow;
    display: inline-block;
    
}
#second {
    background-color: blue;
    border: 2px solid black;
    height: 500px;
    width: 445px;
    float: right;
}

#third {
    background-color: black;
    border: 2px solid black;
    height:100px ;
    margin-top: 15px;
}
.c :hover {
    background-color: gray;
}