h2 {
    
    background-color: black;
    color: white;
    width: 120px;
    font-family:Arial, Helvetica, sans-serif;
    
}
img {
    border: 3
    px solid black;
    border-radius: 10px;
}

section {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {    
    margin-left: 5%; 
}
.vogue {
    border: 1px solid black;
    width: 130px;
}
a:hover{
    background-color: gray;
    display: inline;
    margin: 10px;
    
}