h2 {
    
    background-color: black;
    color: white;
    width: 120px;
    font-family:Arial, Helvetica, sans-serif;
    
}
img {
    border: 3
    px solid black;
    border-radius: 10px;
}

section {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {    
    margin-left: 5%; 
}
#pop {
    border: 2px solid black;
    height: 100px;
    background-color: black;
    position: sticky;
    top: 2px;
}
#OP {
    color: white;
    display: inline-block;
    
    
    
}
.vogue {
    border: 1px solid white;
    width: 60px;
    margin: 20px;
    color: white;
    
}
#bob {
    float: right;
    margin: 20px;
}

#obey {
    height: 80px;
    width: 80px;
    border-radius: 30px;
    margin-left: 230px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}




